{# templates/vacations/create_compensatory_days.html #}
{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container mt-4">
  <h2>Criar Dias Compensatórios</h2>
  <form method="post" class="mb-4">
    {% csrf_token %}
    <div class="form-group">
      {{ form.employee.label_tag }}
      {{ form.employee }}
    </div>
    <div class="form-group">
      {{ form.dates.label_tag }}
      {{ form.dates }}
      <small class="form-text text-muted">{{ form.dates.help_text }}</small>
    </div>
    <div class="form-group">
      {{ form.note.label_tag }}
      {{ form.note }}
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
    <a href="{% url 'vacation_manage' %}" class="btn btn-secondary">Cancelar</a>
  </form>
</div>

{# carrega jQuery UI e o plugin multidatespicker #}
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="{% static 'js/multidatespicker.js' %}"></script>

<script>
  $(function() {
    // #id_dates vem de <input name="dates" id="id_dates"> gerado pelo Django
    $('#id_dates').multiDatesPicker({
      dateFormat: 'yy-mm-dd'
    });
  });
</script>
{% endblock %}
